@import './_variables.scss';

.hand-button-container{
    display: flex;
}

.left-text{
    position: absolute;
    bottom: 40px;
    left: 30px;
    font-weight: bold;
    color: white;
    font-size: 22px;
}

.right-text{
    position: absolute;
    bottom: 40px;
    right: 30px;
    font-weight: bold;
    color: white;
    font-size: 22px;
}