@import './_variables.scss';

.chat-box-container{
    flex: 3;
    display: flex;
    flex-direction: column;
    background: $chat-box-bg;
    border-radius: 20px 20px 0 0;
    padding: $page-pd;
    padding-top: 0;
    box-shadow: $chat-box-shadow;
}

.agent-image{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.chat-box-ui{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
    padding: $content-pd;
}

.chat-box-bubble{
    background: $chat-box-bubble-bg;
    flex: 1;
    padding: $content-pd;
    border-radius: $radius-large;
    font-size: $font-mid;
}