@import './_variables.scss';

.container{
    padding: $page-pd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
}

.home-bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 142px;
    z-index: 0;
}

.home-qr-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    width: 100%;
}

.qr-container{
    display: absolute;
    bottom: 0;
    min-height: 120px;
    min-width: 120px;
    margin: 20px calc(50vw - 90px);
    z-index: 10;
}

.qr-button{
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.qr-image{
    width: 80px;
    height: 80px;
}

.welcome-text {
    display: flex;
    align-items: center;
    font-size: $font-large;
    color: $app-main;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 30px;
}

.search-bar{
    margin: $page-mg;
    text-align: center;
    border-radius: $radius-mid;
    background: $app-main;
    flex: 1;
  
    input {
      background: none;
      text-align: center;
      color: white;
      font-size: $font-mid;
      padding: $content-pd;
      font-size: 16px;
      border: none;
      border-radius: $radius-mid;
      &::placeholder {
        color: $placeholder-color;
        opacity: 1;
      }
    
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $placeholder-color;
      }
    
      &::-moz-placeholder { /* Firefox 19+ */
        color: $placeholder-color;
        opacity: 1;
      }
    
      &:-moz-placeholder { /* Older versions of Firefox */
        color: $placeholder-color;
        opacity: 1;
      }
    
      &::-webkit-input-placeholder { /* Safari and Chrome */
        color: $placeholder-color;
      }
  }
}