@import './_variables.scss';
.info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex: 5;
    width: 100%;
    font-size: $font-large;
    p{
        font-size: 25px;
        color: $font-black;
    }
}

.question-mark{
    height: 85px;
    margin-bottom: 5px;
}