@import './_variables.scss';

.menu-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.menu-grid-item {
    text-align: center;
    font-size: 24px;
    p{
        font-size: 18px;
        overflow: hidden;
    }
    img{
        margin: 5px 0;
    }
}

.menu-image {
    height: 120px;
    width: 120px;
    border-radius: $radius-mid;
    // background-size: cover;
    object-fit: cover;
    box-shadow: $menu-item-shadow
}
