@import './_variables.scss';

.store-container{
    height: $page-height;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
}
.order-title {
    position: sticky;
    font-size: 28px; 
    font-weight: $font-bold;
    color: black;
    padding: 50px 30px 20px;
    text-align: center; 
    width: 100%;
    box-sizing: border-box;
}

.total-section{
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    background-color: white; // Background to cover any content below it
    padding: 0 30px 20px; // Space around the content
    display: flex; // Flexbox for internal layout
    flex-direction: column;
}
  
.divider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 10px 0px 10px;
}

.total {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; 
    align-items: center; 

    p {
        font-size: $font-large;
        font-weight: $font-bold;
        color: black; 
    }
}
  
  