@import './_variables.scss';

.store-container{
    padding-top: header-height;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: $app-main;
}